@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .toggle-menu-button {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: "#ffffff";
  color: #313131;
}
