@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/barlow-condensed.woff2") format("woff2"),
    url("/fonts/barlow-condensed.woff") format("woff");
}
